body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #871b1b, #e12626);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  /* Adjust the alpha value for brightness */
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: white;
}
