header {
  background-color: transparent;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  font-family: "Boldonse", sans-serif;
}
